In [4]:
import sqlite3
import pandas as pd

In [5]:
conn = sqlite3.connect("../data/aml_simulation.db")

In [6]:
query = """
    SELECT * FROM transactions;
"""

In [7]:
transactions = pd.read_sql_query(query, conn)
conn.close()

In [25]:
transactions.dtypes

txn_id                     int64
account_id                 int64
timestamp         datetime64[ns]
amount                   float64
currency                  object
origin_country            object
dest_country              object
channel                   object
counterparty              object
dtype: object

In [13]:
transactions['timestamp'] = pd.to_datetime(transactions['timestamp'])

In [17]:
transactions['timestamp'].dt.year.value_counts()

timestamp
2024    975194
2023    651677
2025    625932
Name: count, dtype: int64

In [22]:
transactions[transactions['timestamp'].dt.year == 2023]['timestamp'].dt.month.value_counts()

timestamp
12    65834
11    63959
10    61945
9     59248
8     57379
7     54733
6     53155
5     51038
4     49030
3     47112
2     44992
1     43252
Name: count, dtype: int64

In [23]:
transactions[transactions['timestamp'].dt.year == 2024]['timestamp'].dt.month.value_counts()

timestamp
12    94603
11    92205
10    89714
9     87501
8     84769
7     82346
6     79535
5     77990
4     74862
3     72894
2     70801
1     67974
Name: count, dtype: int64

In [24]:
transactions[transactions['timestamp'].dt.year == 2025]['timestamp'].dt.month.value_counts()

timestamp
6    111598
5    108141
4    105397
3    103120
2    100593
1     97083
Name: count, dtype: int64

In [26]:
transactions['origin_country'].value_counts()

origin_country
US    241861
NG    241722
GB    241636
FR    241280
PL    241237
BR    241058
DE    240553
CN    225684
RU    225165
IR    112607
Name: count, dtype: int64

In [27]:
transactions['dest_country'].value_counts()

dest_country
GB    242507
US    241830
DE    241470
FR    241094
NG    241055
PL    241004
BR    240704
RU    225374
CN    225341
IR    112424
Name: count, dtype: int64